/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --mainBlue: #0000ff;
  --darkBlue: #020281;
  --veryDarkBlue: #020238;
  --navbarColor: #ffffff;
  /* overflow-x: hidden; */
}

/* END OF GLOBAL STYLES */

/* MAIN CONTAINER */
.container {
  width: 100vw;
}
/* END OF MAIN CONTAINER */

/* HEADER STYLES */
header {
  height: 110vh;
  background-image: url(../images/mobile-bg.png);
  background-size: cover;
  position: relative;
  right: 0;
  left: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /* background-color: #666604; */
  z-index: 10;
}

/* STYLES FOR OPEN AND CLOSE NAVIGATION ICON */
.nav-bar {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 15px;
  cursor: pointer;
  animation: pulse 4s infinite;
  z-index: 20;
}

.nav-bar:hover {
  animation-play-state: paused;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bar {
  width: 100%;
  height: 2px;
  pointer-events: none;
}

.top-bar {
  width: 200%;
  display: flex;
  transform: rotate(0deg);
  transition: all 200ms ease;
}

.mid-bar {
  width: 100%;
  background-color: var(--navbarColor);
  transition: all 200ms ease;
}

.bottom-bar {
  width: 200%;
  display: flex;
  transform: rotate(0deg);
  transition: all 200ms ease;
}

.main-top-bar {
  width: 50%;
  height: 100%;
  background-color: var(--navbarColor);
}

.extension-top-bar {
  width: 50%;
  height: 100%;
}

.main-bottom-bar {
  width: 50%;
  height: 100%;
  background-color: var(--navbarColor);
}

.extension-bottom-bar {
  width: 50%;
  height: 100%;
}

/* END OF STYLES FOR OPEN AND CLOSE NAVIGATION ICON */

/* NAVIGATION ITEMS STYLES */
.overlay {
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: #000000bb;
  position: absolute;
  top: 50px;
  display: none;
}

.nav-items {
  width: calc(100vw - 50px);
  height: calc(100vh - 100px);
  background-color: white;
  position: absolute;
  top: -600px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 200ms ease;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-item {
  text-decoration: none;
  line-height: 50px;
  padding: 0 30px;
  /* background-color: red; */
  margin: 2px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px #01019b solid;
  transition: all 200ms ease;
  /* border-top: 1px #8a8aff solid; */
}

.nav-item:hover {
  padding-left: 50px;
}

.contact-me {
  width: 100px;
  font-size: 15px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: green;
  cursor: pointer;
}
/* END OF NAVIGATION ITEMS STYLES */

/* INTRO STYLE */

/* FLOATING IMAGE STYLE */
.intro {
  /* background-color: red; */
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -130px;
  /* opacity: 0.7; */
}

.floating-image {
  /* background-color: green; */
  width: 90%;
  transform: translate(40%);
  /* transform: translateY(10px); */
}
/* END OF FLOATING IMAGE STYLE */
/* END OF INTRO STYLE */

/* TAB SCREEN FOR HEADER */
@media screen and (min-width: 600px) {
  header {
    background-image: url(../images/bg1.jpg);
  }

  .nav-bar {
    display: none;
  }

  .nav-items {
    position: unset;
    top: 0;
    left: 0;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-end;
    height: unset;
    border-radius: unset;
    padding: 0 30px;
    background: none;
  }

  .nav-links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-item {
    padding: 0 10px;
    color: white;
    font-size: 15px;
    border: none;
    /* background-color: red; */
    width: 70px;
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .nav-item::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: transform 300ms ease;
  }

  .nav-item:hover {
    /* border-bottom: 2px #01019b solid; */
    padding-left: 10px;
  }

  .nav-item:hover::after {
    transform: translateY(-15px);
  }

  .intro {
    background: none;
    bottom: -190px;
  }

  .floating-image {
    width: 90%;
    max-width: 700px;
    transform: translateX(40%);
  }
}
/* END OF TAB SCREEN FOR HEADER */

/* DESKTOP SCREEN FOR HEADER */
@media screen and (min-width: 1000px) {
  header {
    height: 130vh;
  }

  .intro {
    width: 100%;
    bottom: -270px;
  }

  .nav-item {
    margin: 0 20px;
    font-size: 20px;
    width: 90px;
  }

  .floating-image {
    width: 80%;
    max-width: 970px;
    transform: translateX(55%);
  }
}
/* END OF DESKTOP SCREEN FOR HEADER */

/* END OF HEADER STYLES */
